@import "styles/variables";

.listings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.listing {
  width: 100%;
  padding: 10px;

  @include gt-xs {
    width: 50%;
  }

  @include gt-sm {
    width: 33.33%;
  }
}

.content {
  composes: content from '../../styles/common.scss';
  padding: 16px;

  @include gt-md {
    padding: 32px 20px;
  }
}

.lineBox {
  composes: lineBox from '../../styles/common.scss';
}

.backLink {
  composes: link from '../../styles/common.scss';
}