@import "styles/variables";

.box {
  position: relative;
  display: flex;
  flex-direction: column;

  @include gt-sm {
    padding: 60px 0;
    flex-direction: row;
  }
}

.boxIsRight {
  composes: box;

  @include gt-sm {
    flex-direction: row-reverse;
  }
}

.imageBox {
  width: 100%;
  padding: 0;
  z-index: 2;

  @include gt-sm {
    width: 50%;
    padding-right: 24px;
  }
}

.imageBoxIsRight {
  composes: imageBox;

  padding-right: 0px;
  padding-left: 24px;
}

.imageInnerBox {
  position: relative;
  padding-top: 66.7%;

  img {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;

    @include gt-sm {
      display: block !important;
    }
  }
}

.textBox {
  padding: 0 6%;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @include gt-sm {
    width: 50%;
  }
}

.titleBox {
  display: flex;
  flex-direction: column;

  @include gt-sm {
    margin-top: -24px;
  }
}

.titleBoxIsRight {
  composes: titleBox;

  @include gt-sm {
    align-items: flex-end;
    text-align: right;
  }
}


.title {
  position: relative;

  &::after {
    // width: 50vw;
    width: calc(50vw + 33px);
    height: 1px;
    content: "";
    background: rgba(0, 0, 0, 0.16);
    position: absolute;
    right: 100%;
    margin-right: 16px;
    top: 16px;
    display: none;

    @include gt-sm {
      display: block;
    }
  }
}

.titleIsRight {
  composes: title;

  &::after {
    left: 100%;
    margin-left: 16px;
    margin-right: 0;
    right: auto;
  }
}

.text {
  line-height: 1.5;
  margin-top: 16px;
  font-weight: 100;
  color: $gray7;
}

.link {
  margin-top: 16px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
}