@import "styles/variables";

.box {
  position: relative;
  display: flex;
  flex-direction: column;

  @include gt-sm {
    padding: $spacing300 0;
    flex-direction: row;
  }
}

.boxIsRight {
  composes: box;

  @include gt-sm {
    flex-direction: row-reverse;
  }
}

.imageBox {
  width: 100%;
  padding: 0;
  z-index: 2;

  @include gt-sm {
    width: 50%;
    padding-right: $spacing150;
  }
}

.imageBoxIsRight {
  composes: imageBox;

  @include gt-sm {
    padding-right: 0px;
    padding-left: $spacing150;
  }
}

.imageInnerBox {
  position: relative;
  height: 240px;
  width: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
  }

  @include gt-sm {
    padding-top: 66.7%;
  }
}

.textBox {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: $spacing100;

  @include gt-sm {
    width: 50%;
    margin-top: 0;
    padding: 0 6%;
  }
}

.titleBox {
  display: flex;
  flex-direction: column;
  text-align: left;

  @include gt-sm {
    margin-top: -$spacing200;
  }
}

.titleBoxIsRight {
  composes: titleBox;

  @include gt-sm {
    align-items: flex-end;
    text-align: right;
  }
}


.title {
  position: relative;

  &::after {
    width: 100px;
    height: 1px;
    content: "";
    background: rgba(0, 0, 0, 0.16);
    position: absolute;
    right: 100%;
    margin-right: $spacing100;
    top: 16px;
    display: none;

    @include gt-sm {
      display: block;
    }
  }
}

.titleIsRight {
  composes: title;

  &::after {
    left: 100%;
    margin-left: $spacing100;
    margin-right: 0;
    right: auto;
  }
}

.text {
  line-height: 1.5;
  font-weight: 100;
  color: $gray7;

  @include gt-sm {
    margin-top: $spacing100;
  }
}

.link {
  margin-top: $spacing100;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
}