@import "styles/variables";

.bgContent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.siteName {
  font-size: 40px;
  font-family: $titleFont;
  color: $white;
  letter-spacing: 0.5px;
  line-height: 1;
  line-height: 0.5;
  margin-top: 10px;

  @include gt-sm {
    font-size: 80px;
  }
}

.slogan {
  font-size: 24px;
  color: $white;
  margin-top: 16px;
  font-weight: 100;

  @include gt-sm {
    font-size: 38px;
  }
}

.arrowBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  display: none;

  @include gt-sm {
    display: block;
  }
}

.arrow {
  color: $white;
  width: 46px;
  height: 46px;

  &:hover {
    transform: scale(1.1);
  }
}

.listing {
  background-color: $bgColor;
  padding-top: 8px;
}

.section {
  composes: contentWithPadding from '../../../styles/common.scss';
}