@import "styles/variables";

.description {
  white-space: pre-line;
}

.content {
  composes: content from '../../styles/common.scss';
  padding-bottom: 24px;
}

.firstLine {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.titleBox {
  flex-grow: 1;
}

.title {
  
}

.price {
  font-size: 28px;
  font-weight: 700;
  margin-top: 0px;
}

.ogField {
  display: none;
}

.buttonBox {
  display: none;

  @include gt-sm {
    display: block;
  }
}

.buttonBoxMobile {
  display: block;
  position: fixed;
  background-color: #fff;
  padding: 8px;
  border-top: 1px solid $gray1;
  bottom: 0;
  left: 0;
  right: 0;

  @include gt-sm {
    display: none;
  }
}

.button {
  composes: button from '../../styles/common.scss';
  width: 100%;
}

.lineBox {
  composes: lineBox from '../../styles/common.scss';
}


.highlightsBox {
 
}


.listings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-top: 10px;
}

.listing {
  width: 100%;
  padding: 10px;

  @include gt-xs {
    width: 50%;
  }

  @include gt-sm {
    width: 33.33%;
  }
}

.backLinkBox {
  margin-top: 10px;
}

.backLink {
  composes: link from '../../styles/common.scss';
}

.imageListMobile {
  display: flex;
  margin: 0 -4px;
  margin-top: 16px;
  padding-top: 0;
  position: relative;

  @include gt-md {
    display: none;
  }
}

.imageListDesktop {
  display: none;
  margin: 0 -4px;
  margin-top: 24px;
  padding-top: 0;
  position: relative;

  @include gt-md {
    display: flex;
  }

  > div {
    &:first-child {
      > div {
        border-radius: 8px 0 0 8px;
      }
    }

    &:nth-child(4) {
      > div {
        border-radius: 0 8px 8px 0;
      }
    }
  }
}

.imageItem {
  width: 100%;
  height: 165px;
  flex-shrink: 0;
  font-size: 15px;
  z-index: 1;
  padding: 2px;
}

.imageItemFull {
  composes: imageItem;
  width: 100%;
  height: 330px;
}

.imageItemFirst {
  composes: imageItem;
  width: 34%;
  height: 330px;
}

.imageItemSecond {
  composes: imageItem;
  width: 25%;
  height: 330px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  width: 16%;
}

.imageBox {
  display: block;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50% center;
  overflow: hidden;

  &:hover {
    filter: brightness(90%);
  }
}

.image {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  width: 100%;
  height: 100%;
  // background-image: url(${props => props.imageSrc});
  cursor: pointer;
}