@import "styles/variables";

.content {
  
}

.boxBg {
  background-color: $bgColor;
}

.section {
  composes: contentWithPadding from '../../../styles/common.scss';

  p + p {
    margin-top: $spacing75;
  }
}