@import "styles/variables";

.content {
  width: 1214px;
  max-width: 100%;
  margin: 0 auto;
}

.lineBox {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background-color: $gray1;
}


.link {
  font-size: 16px;
  color: $blue5;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  position: relative;
  display: inline-block;
  padding: 14px 35px 12px;
  background-color: $pink6;
  box-shadow: $boxShadow1;
  color: #fff;
  cursor: pointer;
  // border-radius: 5px;
  text-align: center;

  &:hover {
    text-decoration: none;
    background-color: $pink5;
    box-shadow: $boxShadow2;
  }
}