
@import "styles/variables";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  // font-family: "Helvetica Neue", "Droid Sans", Arial, sans-serif;
  font-family: "Neue Haas Grotesk", -apple-system, "BlinkMacSystemFont", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.3;
  font-size: 15px;
  color: $gray8;
}

* {
  box-sizing: border-box;
}

a {
  color: $blue5;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  padding: 0;
  margin: 0;
}


img {
  max-width: 100%;
  display: block;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: $gray8;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}


