$boxShadow1: 1px 1px 2px rgb(20 28 30 / 12%);
$boxShadow2: 2px 2px 4px rgba(20, 28, 30, 0.12);
$boxShadow3: 2px 4px 8px rgba(20, 28, 30, 0.12);

$titleFont: 'Great Vibes', cursive;
$descriptionFont: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria, "Noto Serif Light", "Droid Serif", Georgia, serif;
// $descriptionFont: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;


// $descriptionFont: 'Cormorant Garamond', cursive;
$mediaSM: 576px;
$mediaMD: 768px;
$mediaLG: 992px;
$mediaXL: 1200px;

// media gt queries
@mixin gt-xs {
  @media screen and (min-width: #{$mediaSM}) {
    @content;
  }
}

@mixin gt-sm {
  @media screen and (min-width: #{$mediaMD}) {
    @content;
  }
}

@mixin gt-md {
  @media screen and (min-width: #{$mediaLG}) {
    @content;
  }
}

@mixin gt-lg {
  @media screen and (min-width: #{smediaXL}) {
    @content;
  }
}
// gray
$gray0: #f9f9f9;
$gray1: #ecedf0;
$gray3: #cfd3da;
$gray5: #adb3bf;
$gray7: #818897;
$gray8: #666c77;
$gray9: #3c3f45;
$gray9_dark: #262a2d;
$gray10: #141c1e;
$gray11: #0d1213;

// blue
$blue1: #e5eefe;
$blue2: #d2e2fd;
$blue3: #bdd4fc;
$blue5: #4a87f8;
$blue10: #171f4b;

// teal
$teal0: #e9fef6;
$teal1: #b5fce2;
$teal5: #3cc995;
$teal6: #36b485;
$teal7: #2e9a72;
$teal10: #0d272b;

// indigo
$indigo1: #eeebfe;
$indigo3: #d4cefd;
$indigo7: #8676fa;
$indigo8: #654ef8;
$indigo10: #231b5a;

// cyan
$cyan0: #eefcfe;
$cyan1: #c7f6fd;
$cyan6: #39aec0;
$cyan7: #3195a5;
$cyan10: #0d272b;

// orange
$orange0: #fef9ef;
$orange3: #fdeccc;
$orange4: #f8b94b;
$orange5: #e3a944;
$orange7: #ae8134;
$orange10: #31240e;

// pink
$pink1: #fee8f0;
$pink3: #fdc3d8;
$pink5: #fd7cbe;
$pink6: #f778b9;
// f778b9
$pink7: #f14886;
$pink10: #441426;

// red
$red5: #f8644a;
$red7: #e85b45;
$red8: #b74837;