@import "styles/variables";

@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');

.container {
  position: relative;
}

.bgBox {
  position: relative;
  background-color: #f9f9f9;
  width: 100%;
  height: 40vh;

  @include gt-sm {
    padding: 32px;
    height: 65vh;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
  }
}

.fader {
  position: absolute;
  inset: 0px;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.imageInnerBox {
  position: relative;
  height: 100%;

  composes: content from '../../../styles/common.scss';
}

.titleBox {
  width: 100%;
  padding: 24px;
  background-color: rgb(0 0 0 / 40%);
  position: absolute;
  bottom: 0;
  right: 0;

  @include gt-sm {
    width: 400px;
  }
}

.title {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;

  @include gt-xs {
    font-size: 24px;
  }

  @include gt-sm {
    color: #ffffff;
  }

  @include gt-md {
    font-size: 24px;
  }
}

.titleIsHalloWeen {
  composes: title;

  font-family: 'Eater', cursive;
  text-transform: none;
}

.descriptionShort {
  font-size: 15px;
  margin-top: 8px;
  color: #e0e0e0;

  @include gt-sm {
    color: #e0e0e0;
  }
}

.content {
  composes: contentWithPadding from '../../../styles/common.scss';
  padding: 24px;
}

.another {
  background-color: $bgColor;
}

.categories {
  display: flex;
  flex-direction: column;
  margin-top: $spacing100;

  @include gt-sm {
    flex-direction: row;
  }
}

.category {
  text-decoration: none;

  @include gt-sm {
    width: 50%;
  }

  &:hover {
    text-decoration: none;
    background-color: #f1f1f1;
  }
}

.categoryInner {
  display: flex;
  align-items: center;
  padding: $spacing75 0;

  @include gt-sm {
    padding: $spacing100;
    padding-right: 20%;
  }
}

.arrow {
  display: none;
  color: $gray7;

  svg {
    width: 24px;
    height: 24px;
  }

  @include gt-sm {
    display: block;
    margin-right: $spacing100;
  }
}

.imageBox {
  position: relative;
  flex-shrink: 0;
  height: 80px;
  width: 120px;

  @include gt-sm {
    height: 90px;
    width: 140px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
  }
}

.textBox {
  margin-left: $spacing100;
}

.categoryTitle {
  font-weight: 300;
  color: $gray9;
  text-transform: uppercase;    
  letter-spacing: 2px;
  font-size: 18px;
  line-height: 1.4;
}

.categoryIsRight {
  composes: category;

  border-top: 1px solid $gray3;

  @include gt-sm {
    border-top: none;
  }

  .categoryInner {
    @include gt-sm {
      flex-direction: row-reverse;
      border-left: 1px solid $gray3;
      padding: $spacing100;
      padding-left: 20%;
    }
  }

  .textBox {
    @include gt-sm {
      margin-left: 0;
      margin-right: $spacing100;
    }
  }

  .imageBox {
    @include gt-sm {
      
    }
  }

  .arrow {
    transform: rotate(180deg);

    @include gt-sm {
      margin-right: 0;
      margin-left: $spacing100;
    }
  }
}